<!DOCTYPE html>
<html>
<head>
  <title>Yesno</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-logged-in="<%= user_signed_in? ? "true" : "false" %>">
  <header data-component="main header">
    <div class="wrapper">
      <header>
        <h1 class="logo"><a href="/">yesno.vote</a></h1>
        <div class="authentication">
          <% if user_signed_in? %>
            <%= form_for(current_user, as: @user, url: destroy_user_session_path, html: { method: :delete }) do |f| %>
              <%= f.submit "Log out @#{current_user.handle}" %>
            <% end %>
          <% else %>
            <%= link_to "Sign in with Twitter", omniauth_authorize_path('user', 'twitter') %><br />
          <% end %>
        </div>
      </header>
    </div>
  </header>

  <div class="wrapper">
    <% if admin_signed_in? %>
      <%= form_for(current_admin, as: @admin, url: destroy_admin_session_path, html: { method: :delete }) do |f| %>
        <%= f.submit "Log out" %>
      <% end %>
    <% end %>

    <!-- Static rendering for Rails -->
    <%= yield %>
    
    <!-- Rendering container for React -->
    <div data-render>
      <%= image_tag('spinner.gif', class: "loader") %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
