<!DOCTYPE html>
<html>
<head>
  <title>Yesno</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-logged-in="<%= user_signed_in? ? "true" : "false" %>">
  <div data-component="main header" data-ks-navbar>
    <nav class="wrapper">
      <ul>
        <li class="navbar-title">
          <h1 class="logo"><a href="/">yesno.vote</a></h1>
          <button role="button">=</button>
        </li>
        <li class="authentication">
          <% if user_signed_in? %>
            <%= form_for(current_user, as: @user, url: destroy_user_session_path, html: { method: :delete }) do |f| %>
              <%= f.submit "Log out @#{current_user.handle}" %>
            <% end %>
          <% else %>
            <%= link_to "Sign in with Twitter", omniauth_authorize_path('user', 'twitter'), role: "button" %><br />
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li data-notifications-render></li>
        <% end %>
        <% if admin_signed_in? %>
          <li>
            <%= form_for(current_admin, as: @admin, url: destroy_admin_session_path, html: { method: :delete }) do |f| %>
              <%= f.submit "Log out" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <div class="wrapper">

    <!-- Static rendering for Rails -->
    <%= yield %>
    
  </div>

  <% if (Rails.env.production?) %>
    <script>
    <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("9129a825bae2711fbf2cc3889b74dc0b");</script><!-- end Mixpanel -->
    </script>
  <% end %>

  <%= javascript_include_tag 'application' %>

  <%= javascript_tag do %>
    <% content_for :post_js %>
  <% end %>

  <% if (notice or alert) %>
    <script>
      k$.status({
        text: "<%= ( notice ? notice : alert ) %>",
        type: "status-<%= ( notice ? "green" : "yellow" ) %>"
      });
    </script>
  <% end %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66248595-1', 'auto');
    ga('send', 'pageview');

  </script>

</body>
</html>
