<!DOCTYPE html>
<html>
<head>
  <title>Yesno</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-logged-in="<%= user_signed_in? ? "true" : "false" %>">
  <div data-component="main header" data-ks-navbar>
    <nav class="wrapper">
      <ul>
        <li class="navbar-title">
          <h1 class="logo"><a href="/">yesno.vote</a></h1>
          <button role="button">=</button>
        </li>
        <li class="authentication">
          <% if user_signed_in? %>
            <%= form_for(current_user, as: @user, url: destroy_user_session_path, html: { method: :delete }) do |f| %>
              <%= f.submit "Log out @#{current_user.handle}" %>
            <% end %>
          <% else %>
            <%= link_to "Sign in with Twitter", omniauth_authorize_path('user', 'twitter'), role: "button" %><br />
          <% end %>
        </li>
      </ul>
    </nav>
  </div>

  <div class="wrapper">
    <% if admin_signed_in? %>
      <%= form_for(current_admin, as: @admin, url: destroy_admin_session_path, html: { method: :delete }) do |f| %>
        <%= f.submit "Log out" %>
      <% end %>
    <% end %>

    <!-- Static rendering for Rails -->
    <%= yield %>
    
    <!-- Rendering container for React -->
    <div data-render>
      <%= image_tag('spinner.gif', class: "loader") %>
    </div>

  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_tag do %>
    <% content_for :post_js %>
  <% end %>
  <% if (notice or alert) %>
    <script>
      k$.status({
        text: "<%= ( notice ? notice : alert ) %>",
        type: "status-<%= ( notice ? "green" : "yellow" ) %>"
      });
    </script>
  <% end %>
</body>
</html>
